body {
  margin: 0;
  background-color: #32323d;
  background-image: radial-gradient(circle at 20% 20%, rgba(255,255,255,0.05) 0%, transparent 40%),
                    radial-gradient(circle at 80% 80%, rgba(255,255,255,0.04) 0%, transparent 50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: 'Inter', sans-serif;
}